
pacote-download/AULAS/herdeirawaka.mp3
mundo1/herdeirawaka.mp3
pacote-download/AULAS/.idea/modules.xml
pacote-download/AULAS/.idea/misc.xml
mundo1/.idea/modules.xml
mundo1/.idea/misc.xml
mundo1/.idea/workspace.xml
mundo1/.idea/inspectionProfiles/profiles_settings.xml
mundo1/.idea/.name
